.d-none {
    display: none;
}

.column {
    display: flex;
    flex-direction: column;
    width: 800px;
}

.column1 {
    display: flex;
    flex-direction: column;
    width: 250px;
}


.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}

h1 {
    margin-top: 1em;
    margin-bottom: 0.2em;
}

h2 {
    color: #1e3190;
    font-size: large;
}

h3 {
    color: #1e3190;
    font-size: medium;
    margin-block-start: 0;
}

.bgr-addtask {
    background-color: aliceblue;
    border-radius: 25px;
    padding: 20px;
    
}


textarea {
    border-radius: 5px;
    resize: none;
}

.profil-img {
    border-radius: 100%;
    width: 3em;
    height: 3em;
    object-fit: cover;
}

.plus-button {
    border-radius: 100%;
    border: none;
    background-color: aliceblue;
}

.plus-image:hover {
    opacity: 0.75;
}

.grey-button {
    background-color: aliceblue;
    border: none;
    padding: 12px;
    border-radius: 10px;
    margin-left: 5px;
    margin-right: 5px;

}

.grey-button:hover {
    background-color: rgb(209, 233, 255);

}

.blue-button {
    background-color: #1e3190;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 12px;
    margin-left: 5px;
    margin-right: 5px;
}

.blue-button:hover {
    background-color: #1e3190e0;
}

.start {
    display: flex;
    justify-content: start;

}

.end {
    justify-content: end;
}

.pointer:hover {
    cursor: pointer;
}

.space {
    display: flex;
    justify-content: space-evenly;

}

.left {
    margin-left: auto;
}

.asignedto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.relative {
    display: flex;
    position: relative;
}

.absolut {
    display: flex;
    justify-content: end;

}

#addtask-container {
    margin-left: 170px;
}

.dropdown {
    position: relative;
    display: inline-block;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    overflow: auto;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin-left: 60px;
    height: 54px;
    align-items: center;
    border-radius: 21px;
    padding: 10px;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropbtn {
    background-image: url(img/icon\ plus.png);
    background-repeat: no-repeat;
    background-position: center;
    padding: 16px;
    border-radius: 100%;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    background-color: #d8d8d8;
    margin-left: 5px;
}

.dropbtn:hover {
    opacity: 0.5;
}

.show {
    display: flex;
}

#images {
    display: flex;
}

.setImages {
    margin-top: 20px;
    margin-bottom: 20px;
    display: flex;
}

.me1 {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid lightgray;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}

input {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-family: 'PT Sans', sans-serif;
    height: 70px;
    width: 300px;
    font-size: 20px;
}

textarea {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-family: 'PT Sans', sans-serif;
    width: 300px;
    font-size: 20px;
    height: 130px;
}

select {
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-family: 'PT Sans', sans-serif;
    height: 70px;
    width: 300px;
    font-size: 20px;
}


input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(img/icons8-calendar-150.png) no-repeat;
    background-position: center;
    background-size: 30px;
    background-position-x: center;
    padding-right: 10px;
    width: 25px;
    height: 25px;
    border-width: thin;
    cursor: pointer;
}

@media(max-width: 1000px) {

    body {
        overflow: hidden;
    }

    .media-row {
        display: flex;
        flex-direction: column;
    }

    #addtask-container {
        margin: 100px 8px 8px 8px;
    }

    .column {
        width: auto;
        overflow: overlay;
        margin-left: 8px;
        margin-right: 8px;
    }

    .bgr-addtask {
        margin-bottom: 8px;
        margin-right: auto;
    }

    textarea {
        width: 230px;
    }

    input {
        width: 230px;
    }

    select {
        width: 230px;
    }





}