body {
    padding: 0;
    margin: 0;
    font-family: 'PT Sans', sans-serif;
    display: flex;
}

h1 {
    margin-top: 1em;
    margin-bottom: 0.2em;
}

.header-container {
    margin-left: 12px;
}

.bold {
    font-family: 'PT Sans BOLD'
}

.subhead {
    margin: 0;
    font-size: medium;
    color: rgb(30, 49, 144)
}

.categories {
    font-size: large;
    color: rgb(30, 49, 144);
    font-weight: 700;
}

.categories-container {
    width: 900px;
    margin-left: 12px;
    margin-right: 12px;
    display: flex;
    justify-content: space-evenly;
    margin-top: 2em;
}

.ticket {
    background-color: rgb(244, 243, 251);
    border-radius: 6px;
    margin: 12px;
    padding: 3px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    font-size: large;
}

.b-l-Marketing {
    border-left: solid 5px rgb(255, 176, 113);
}

.b-l-Design {
    border-left: solid 5px rgb(224, 104, 255);
}

.b-l-Sales {
    border-left: solid 5px rgb(77, 170, 95);
}

.b-l-Operations {
    border-left: solid 5px #ffeb3b;
}

.ticket-img {
    border-radius: 100%;
    width: 4.3em;
    height: 4.3em;
    object-fit: cover;
    cursor: pointer;
}

.name-mail {
    margin-left: 2em;
    min-width: 300px;
}

.ticket-category {
    min-width: 180px;
}

.ticket-details {
    max-width: 35%;
    min-width: 300px;
}

.left-container {
    display: flex;

    min-width: 45%;

}

.d-none {
    display: none;
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: rgb(207, 204, 224);
    color: #1e3190;
    text-align: center;
    border-radius: 5px;
    border: solid #1e3190;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 19px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

.ticket:hover .edit {
    opacity: 0.8;
}


.icons {
    height: 22px;
    width: 22px;
    cursor: pointer;
    opacity: 0;
    margin-right: 4px;
    margin-top: 4px;
    margin-bottom: 4px;
}

.column {
    display: flex;
    flex-direction: column;
}