body {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
}

span {
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    margin-bottom: 10px;
}

.statusOfTask {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-right: 30px;
   
}

.wholestatusofTask {
    display: flex;
    height: 100%;
    margin-top: 50px;
    margin-left: 150px;
    
}

.status {
    width: 380px;
    background-color: #f4f3fb;
    min-height: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding-bottom: 20px;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}

.openTask {
    min-width: 300px;
    max-width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 150px;
    background-color: #1e3190;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    border: 2px solid transparent;
    overflow: hidden;
    color: white;
}

.openTask div {
    font-size: 20px;
    margin-top: 10px;
}

.openTask:hover {
    border: 2px solid blue;
}

.test:hover .trash {
    display: block;
}


.trash {
    height: 20px;
    width: 20px;
    bottom: 10px;
    right: 5px;
    cursor: pointer;
    display: none;
    margin-top: 5px;
}

.deletediv {
    display: flex;
    justify-content: center;
    height: 20px;
}

.changeText {
    position: absolute;
    top: 168px;
    left: 630px;
    height: 500px;
    width: 500px;
    background-color: #8e7eff;
    border-radius: 20px;
    

}

.inputfields{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputfields input {
    width: 300px;
    height: 50px;
    margin-top: 20px;
    border: 0;
    border-radius: 10px;
    font-size: 25px;
}

.inputfields select {
    width: 300px;
    height: 50px;
    margin-top: 20px;
    border: 0;
    border-radius: 10px;
    font-size: 25px;
}

.inputfields textarea {
    height: 120px;
    width: 350px;
    resize: none;
    margin-top: 20px;
    border: 0;
    border-radius: 10px;
    font-size: 25px;
}

.inputfields button {
    background-color: #1e3190;
    color: white;
    height: 50px;
    width: 139px;
    font-weight: bold;
    border-radius: 12px;
    font-size: 17px;
    font-family: 'PT Sans', sans-serif;
    margin-right: 30px;
    border: none;
    cursor: pointer;
    margin-top: 50px;

}

.inputfields button:hover {
    opacity: 0.5;
}

.me1 {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid lightgray;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(img/icons8-calendar-150.png) no-repeat;
    background-position: center;
    background-size: 30px;
    background-position-x: center;
    padding-right: 10px;
    width: 25px;
    height: 25px;
    border-width: thin;
    cursor: pointer;
}

