body {
    font-family: 'PT Sans', sans-serif;
    display: flex;
    align-items: center;
    height: 100vh;
}

span {
    font-weight: bold;
    margin-left: 20px;
    margin-right: 20px;
    font-size: 20px;
    margin-bottom: 10px;
    white-space: nowrap;
    
}

.statusOfTask {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    

}

.wholestatusofTask {
    display: flex;
    height: 100%;
    margin-top: 50px;
    margin-left: 150px;
    width: 100%;
   

}

.status {
    width: 100%;
    background-color: #f4f3fb;
    min-height: 800px;
    display: flex;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
}

.drag-area-highlight {
    background-color: rgba(0, 0, 0, 0.2);
}

.openTask {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1e3190;
    border-radius: 20px;
    margin-top: 20px;
    cursor: pointer;
    position: relative;
    border: 2px solid transparent;
    overflow: hidden;
    color: white;
}

.openTask div {
    font-size: 20px;
    margin-top: 10px;
}

.test:hover {
    transform: scale(1.05);
}

.test:hover .trash {
    display: block;
}


.trash {
    height: 20px;
    width: 20px;
    bottom: 10px;
    right: 5px;
    cursor: pointer;
    display: none;
    margin-top: 5px;
}

.deletediv {
    display: flex;
    justify-content: center;
    height: 20px;
}

.changeText {
    position: absolute;
    top: 168px;
    left: 620px;
    width: 820px;
    background-color: #6b78b5;
    border-radius: 20px;


}

.inputfields {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputfields input {
    width: 500px;
    height: 50px;
    margin-top: 20px;
    border: 0;
    border-radius: 10px;
    font-size: 25px;
}

.inputfields select {
    width: 500px;
    height: 50px;
    margin-top: 20px;
    border: 0;
    border-radius: 10px;
    font-size: 25px;
}

.inputfields textarea {
    height: 120px;
    width: 500px;
    resize: none;
    margin-top: 20px;
    border: 0;
    border-radius: 10px;
    font-size: 25px;
}

.inputfields button {
    background-color: #1e3190;
    color: white;
    height: 50px;
    width: 139px;
    font-weight: bold;
    border-radius: 12px;
    font-size: 17px;
    font-family: 'PT Sans', sans-serif;
    margin-right: 30px;
    border: none;
    cursor: pointer;
    margin-top: 20px;
    margin-bottom: 20px;

}

.inputfields button:hover {
    opacity: 0.5;
}

.me1 {
    height: 50px;
    width: 50px;
    object-fit: cover;
    border-radius: 100%;
    border: 2px solid lightgray;
    cursor: pointer;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

input[type="date"]::-webkit-calendar-picker-indicator {
    color: rgba(0, 0, 0, 0);
    opacity: 1;
    display: block;
    background: url(img/icons8-calendar-150.png) no-repeat;
    background-position: center;
    background-size: 30px;
    background-position-x: center;
    padding-right: 10px;
    width: 25px;
    height: 25px;
    border-width: thin;
    cursor: pointer;
}

.overStatusOfTask {
    width: 100%;
    margin-left: 30px;
    margin-right: 30px;
}

.test {
    width: 100%;
}

@media(max-width: 1000px) {
    .wholestatusofTask {
        flex-direction: column;
        margin-top: 265px;
        width: 100%;
        margin-left: auto;
        position: relative;
        padding-right: 10px;
        padding-left: 10px;
    }

    .status {
        min-height: 100px;
        padding-left: 0;
        padding-right: 0;
    }

    .Category {
        display: none;
    }

    .Date {
        display: none;
    }

    .openTask {
        flex-direction: unset;
        justify-content: space-between;
        margin-top: 5px;
        width: 90%;
        min-width: unset;
        max-width: unset;
    }

    .me1 {
        display: flex;
        height: 30px;
        width: 30px;
        margin-bottom: 0;
    }

    .openTask div {
        margin-top: 0;
    }

    .test {
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }
    

    .deletediv {
        width: 5%;
        margin-left: 5px;
        
    }

    .changeText {
        left: 0;
        width: 100%;
        position: fixed;
    }

    .inputfields input {
        width: 100%;
    }

    .inputfields select {
        width: 100%;
    }

    .inputfields textarea {
        width: 100%;
    }

    .inputfields {
        padding-right: 50px;
        padding-left: 50px;
    }

    .status {
        width: 100%;
    }

    .statusOfTask {
        overflow: hidden;
    }

    .trash {
        height: 100%;
        width: 100%;
        object-fit: contain;
    }

    .test:hover {
        transform: none;
    }

    .overStatusOfTask {
      margin-left: 0;
      margin-right: 0;
    }
}